parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:attempt\\(\\)\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:check\\(\\)\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:login\\(\\)\\.$#"
			count: 2
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:logout\\(\\)\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:register\\(\\)\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:validateCredentials\\(\\)\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Models\\\\Customer\\:\\:whereActivationCode\\(\\)\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 4
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Mail\\:\\:queueTemplate\\(\\)\\.$#"
			count: 3
			path: src/Components/Account.php

		-
			message: "#^Call to static method count\\(\\) on an unknown class Igniter\\\\Cart\\\\Facades\\\\Cart\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to static method total\\(\\) on an unknown class Igniter\\\\Cart\\\\Facades\\\\Cart\\.$#"
			count: 1
			path: src/Components/Account.php

		-
			message: "#^Call to an undefined method Igniter\\\\User\\\\Components\\\\AddressBook\\:\\:pageCycle\\(\\)\\.$#"
			count: 2
			path: src/Components/AddressBook.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Address\\:\\:find\\(\\)\\.$#"
			count: 3
			path: src/Components/AddressBook.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 5
			path: src/Components/AddressBook.php

		-
			message: "#^Call to an undefined method Igniter\\\\User\\\\Components\\\\ResetPassword\\:\\:currentPageUrl\\(\\)\\.$#"
			count: 1
			path: src/Components/ResetPassword.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Models\\\\Customer\\:\\:whereEmail\\(\\)\\.$#"
			count: 1
			path: src/Components/ResetPassword.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Models\\\\Customer\\:\\:whereResetCode\\(\\)\\.$#"
			count: 1
			path: src/Components/ResetPassword.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Template\\\\Page\\:\\:lists\\(\\)\\.$#"
			count: 2
			path: src/Components/ResetPassword.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Mail\\:\\:queueTemplate\\(\\)\\.$#"
			count: 1
			path: src/Components/ResetPassword.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:check\\(\\)\\.$#"
			count: 2
			path: src/Components/Session.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:getUser\\(\\)\\.$#"
			count: 2
			path: src/Components/Session.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:logout\\(\\)\\.$#"
			count: 1
			path: src/Components/Session.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 1
			path: src/Components/Session.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Contracts\\\\Foundation\\\\Application\\:\\:rebinding\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 1
			path: src/Middleware/ThrottleRequests.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$full_name\\.$#"
			count: 1
			path: src/Notifications/CustomerRegisteredNotification.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\User\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Notifications/CustomerRegisteredNotification.php
